<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>Relatórios</h1>
        </div>

        <div class="row">
            <h4>Opções de Relatórios</h4>
            <div class="button-group">
                <a href="/relatorio_entradas_saidas" class="btn-option">
                    <i class="fa-solid fa-car-side"></i> Entradas e Saídas
                </a>
                <a href="/relatorio_ocupacao" class="btn-option">
                    <i class="fa-solid fa-chart-pie"></i> Ocupação do Estacionamento
                </a>
            </div>
        </div>

        <div class="row">
            <a href="/" class="btn-option">Voltar</a>
        </div>
    </div>
</body>

</html>